flows.json
[{"id":"3ce60640.81463a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6eee8038.84981","type":"http request","z":"3ce60640.81463a","name":"get Binance pairs","method":"GET","ret":"obj","url":"https://www.binance.com/assetWithdraw/getAllAsset.html","tls":"","x":204,"y":111,"wires":[["d315eebc.25f84"]]},{"id":"713ee910.f2b118","type":"inject","z":"3ce60640.81463a","name":"Inject every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":149,"y":58,"wires":[["6eee8038.84981"]]},{"id":"d315eebc.25f84","type":"function","z":"3ce60640.81463a","name":"process new listings","func":"function comparer(otherArray){\n  return function(current){\n    return otherArray.filter(function(other){\n      return other === current;\n    }).length === 0;\n  };\n}\n\nconst oldSymbols = context.get('symbols') || [];\nlet symbols=[];\nmsg.payload.forEach(asset => {\n    symbols.push(` ${asset.assetName}: ${asset.assetCode}`);\n});\n\nlet newSymbols = symbols.filter(comparer(oldSymbols));\nlet firstTenSymbols = newSymbols.length > 10 ? 10 : newSymbols.length;\nlet updatedList = oldSymbols.concat(newSymbols);\ncontext.set('symbols', updatedList);\n\nlet update = newSymbols.length > 0 && newSymbols.length < 50;\nif (update) console.log(JSON.stringify(msg.payload));\n\nreturn {\n    update,\n    payload: \"New Listed Coin(s): \" + newSymbols.slice(0, firstTenSymbols),\n    values: {\n        old: JSON.stringify(oldSymbols),\n        new: JSON.stringify(updatedList)\n    }\n};\n","outputs":1,"noerr":0,"x":273,"y":161,"wires":[["75204b4a.9df494","c6d3da39.a9f078","64a9598b.6afb68"]]},{"id":"75204b4a.9df494","type":"switch","z":"3ce60640.81463a","name":"check for update","property":"update","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":365,"y":208,"wires":[["32ed4e4c.0cda12","eddce9bd.f674a8"]]},{"id":"c6d3da39.a9f078","type":"debug","z":"3ce60640.81463a","name":"log old and new symbols","active":true,"console":"true","complete":"values","x":613,"y":159,"wires":[]},{"id":"64a9598b.6afb68","type":"debug","z":"3ce60640.81463a","name":"debug isUpdate boolen","active":true,"console":"false","complete":"update","x":609,"y":120,"wires":[]},{"id":"32ed4e4c.0cda12","type":"debug","z":"3ce60640.81463a","name":"debug message content","active":true,"console":"false","complete":"payload","x":625,"y":208,"wires":[]},{"id":"eddce9bd.f674a8","type":"twilio out","z":"3ce60640.81463a","twilioType":"sms","url":"","number":"1234567890","name":"text if update","x":460,"y":269,"wires":[]}]