nodes.json
[
  {
    "id": "6eee8038.84981",
    "type": "http request",
    "z": "8f83f391.b6ebf",
    "name": "get Binance pairs",
    "method": "GET",
    "ret": "obj",
    "url": "https:\/\/www.binance.com\/assetWithdraw\/getAllAsset.html",
    "tls": "",
    "x": 204,
    "y": 111,
    "wires": [
      [
        "d315eebc.25f84"
      ]
    ]
  },
  {
    "id": "713ee910.f2b118",
    "type": "inject",
    "z": "8f83f391.b6ebf",
    "name": "Inject every minute",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "60",
    "crontab": "",
    "once": true,
    "x": 149,
    "y": 58,
    "wires": [
      [
        "6eee8038.84981"
      ]
    ]
  },
  {
    "id": "d315eebc.25f84",
    "type": "function",
    "z": "8f83f391.b6ebf",
    "name": "process new trading pairs",
    "func": "function comparer(otherArray){\n  return function(current){\n    return otherArray.filter(function(other){\n      return other === current;\n    }).length === 0;\n  };\n}\n\nconst oldSymbols = context.get('symbols') || [];\nlet symbols=[];\nmsg.payload.forEach(asset => {\n    symbols.push(` ${asset.assetName}: ${asset.assetCode}`);\n});\n\nlet newSymbols = symbols.filter(comparer(oldSymbols));\nlet firstTenSymbols = newSymbols.length > 10 ? 10 : newSymbols.length;\ncontext.set('symbols', symbols);\n\nreturn {\n    update: newSymbols.length > 0 && newSymbols.length < 50,\n    payload: \"New Listed Coin(s): \" + newSymbols.slice(0, firstTenSymbols),\n    values: {\n        old: oldSymbols,\n        new: symbols\n    }\n};\n",
    "outputs": 1,
    "noerr": 0,
    "x": 283,
    "y": 161,
    "wires": [
      [
        "75204b4a.9df494",
        "c6d3da39.a9f078",
        "64a9598b.6afb68"
      ]
    ]
  },
  {
    "id": "75204b4a.9df494",
    "type": "switch",
    "z": "8f83f391.b6ebf",
    "name": "check for update",
    "property": "update",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 365,
    "y": 208,
    "wires": [
      [
        "864954c1.5bd418",
        "32ed4e4c.0cda12",
        "eddce9bd.f674a8"
      ]
    ]
  },
  {
    "id": "c6d3da39.a9f078",
    "type": "debug",
    "z": "8f83f391.b6ebf",
    "name": "log old and new symbols",
    "active": true,
    "console": "true",
    "complete": "values",
    "x": 613,
    "y": 159,
    "wires": [
      
    ]
  },
  {
    "id": "64a9598b.6afb68",
    "type": "debug",
    "z": "8f83f391.b6ebf",
    "name": "debug isUpdate boolen",
    "active": true,
    "console": "false",
    "complete": "update",
    "x": 609,
    "y": 120,
    "wires": [
      
    ]
  },
  {
    "id": "32ed4e4c.0cda12",
    "type": "debug",
    "z": "8f83f391.b6ebf",
    "name": "debug message content",
    "active": true,
    "console": "false",
    "complete": "payload",
    "x": 625,
    "y": 208,
    "wires": [
      
    ]
  },
  {
    "id": "eddce9bd.f674a8",
    "type": "twilio out",
    "z": "8f83f391.b6ebf",
    "twilioType": "sms",
    "url": "",
    "number": "1234567890",
    "name": "text if update",
    "x": 460,
    "y": 269,
    "wires": [
      
    ]
  }
]
